body {
    background-color: #121212;
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: 900;
    color: #FFF;
    margin: 0;
}

img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.AllCars {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    &::-webkit-scrollbar {
        display: none;
    }
}

.Cars {
    /*border: 3px solid gray;
    border-radius: 10px;*/
    display: inline-block;
    text-align: center;
    flex: 0 0 auto;
}

.logo {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 40%;
    height: auto;
}

.AllCars, .Cars {
    cursor: pointer;
}

.Cars:hover {
    transform: scale(1.20);
    transition: .25s;
}

@media screen and (max-width: 1500px) {
    .img {
        width: auto;
    }
}